body { margin: 0; background: #fff; font-family: Arial;}

#conteudo { height: 800px; }

/* MENU */
#gramatica_input { width: 28%; height: 770px; float: left; background: #FCB941; padding: 15px; position: absolute; display: none; z-index: 1; }
#gramatica_input h3 { color: #0F090A; }
#gramatica_input .close img { width: 30px; float: right; }
#gramatica_input .area_gramatical { width: 97%; height: 500px; resize: none; }

#sobre_input { z-index: 1; background: #FCB941; padding: 15px; width: 30%; height: 770px; position: absolute; top: 0; right: 0; display: none; }
#sobre_input h3 { color: #0F090A; }
#sobre_input .close img { width: 30px; float: right; padding: }

/* ÁREA MOBILE */
#mobile_input { width: 100%; height: 900px; float: left; background: #F6F7F2; }
#mobile_input .celular { width: 750px; margin: 0 auto; }
#mobile_input .menu-icon { float: left; padding: 30px; position: absolute; }
#mobile_input .menu-icon img { width: 50px; }
#mobile_input .plus-icon { padding: 30px; position: absolute; top: 0; right: 0; }
#mobile_input .plus-icon img { width: 40px; }
#mobile_input #microfone { display: block; }
#mobile_input .microfone { position: absolute; width: 750px; margin: 0 auto; top: 580px; }
#mobile_input .microfone img { width: 80px; }
#mobile_input #voice { position: absolute; width: 790px; margin: 0 auto; top: 590px; height: 110px; -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); display: none; }
#mobile_input .celular #close { display: none; position: absolute; width: 510px; margin: 0 auto; top: 195px; }
#mobile_input .celular .close img { width: 30px; float: right; }
#mobile_input .celular #saida-voice { position: absolute; width: 250px; height: 350px; top: 240px; left: 770px; display: none; }
#mobile_input .celular .saida-voice span { color: #dedede; width: 290px; font-size: 25px; }
/* #mobile_input .celular .saida-voice h1 { color: #dedede; width: 290px; } */

footer {padding: 30px 0; background: #eb9532; position: fixed; width: 100%; }
footer span { color: #FFFFFF; }
