.grafica li{
  display:inline-block;
}

.grafica li span{
  display:block;
  width:15px;
  -webkit-animation: grafic 400ms linear infinite alternate;

}

@-webkit-keyframes grafic {
  0%{height:15px;}
100%{height:70px;}
}

li:nth-child(1) span{
  background:#dedede;
  -webkit-animation-delay:0.3s;
}

li:nth-child(2) span{
  background:#aaa8b8;
  -webkit-animation-duration:0.7s;
}

li:nth-child(3) span{
  background:#dedede;
  -webkit-animation-delay:0.8s;
}

li:nth-child(4) span{
  background:#aaa8b8;
  -webkit-animation-delay:0.4s;
}

li:nth-child(5) span{
  background:#dedede;
  -webkit-animation-duration:0.6s;
}

li:nth-child(6) span{
  background:#dedede;
  -webkit-animation-delay:0.3s;
}

li:nth-child(7) span{
  background:#aaa8b8;
  -webkit-animation-duration:0.7s;
}

li:nth-child(8) span{
  background:#dedede;
  -webkit-animation-delay:0.8s;
}

li:nth-child(9) span{
  background:#aaa8b8;
  -webkit-animation-delay:0.4s;
}

li:nth-child(10) span{
  background:#dedede;
  -webkit-animation-duration:0.6s;
}

li:nth-child(11) span{
  background:#aaa8b8;
  -webkit-animation-duration:0.4s;
}

li:nth-child(12) span{
  background:#dedede;
  -webkit-animation-duration:0.8s;
}

li:nth-child(13) span{
  background:#aaa8b8;
  -webkit-animation-duration:0.7s;
}

li:nth-child(14) span{
  background:#dedede;
  -webkit-animation-duration:0.4s;
}